In [2]:
from pyforest import *

In [4]:
# import dataset that has cities and counties from US
cities = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/usCities/simplemapsPro/uscities.csv', encoding = "ISO-8859-1")
cities.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6

In [5]:
# sort by state name
citiesByState = cities.sort_values(by=['state_name'])
citiesByState.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
56103,Toxey,Toxey,NaN,AL,Alabama,1023,Choctaw,01023,Choctaw,31.9107,...,26.8,54.5,9.6,54.6,31.0,0.0,0.0,0.0,0.0,14.4
55903,Wilmer,Wilmer,NaN,AL,Alabama,1097,Mobile,01097,Mobile,30.8232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55904,Moshat,Moshat,NaN,AL,Alabama,1019,Cherokee,01019,Cherokee,34.1187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55905,Skinnerton,Skinnerton,NaN,AL,Alabama,1035,Conecuh,01035|01099,Conecuh|Monroe,31.6699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55906,Edgewater,Edgewater,NaN,AL,Alabama,1073,Jefferson,01073,Jefferson,33.5286,...,10.7,52.8,9.7,40.1,59.9,0.0,0.0,0.0,0.0,0.0

In [6]:
# inspect dataset for missing values
cities.isnull().sum()

city                                0
city_ascii                          0
city_alt                       107316
state_id                            0
state_name                          0
county_fips                         0
county_name                         0
county_fips_all                     0
county_name_all                     0
lat                                 0
lng                                 0
population                      76405
population_proper               76405
density                             0
source                              0
military                            0
incorporated                        0
timezone                            0
ranking                             0
zips                                8
id                                  0
age_median                      76859
male                            76884
female                          76884
married                         76884
family_size                     76828
income_household_median         78407
income_household_six_figure     76661
home_ownership                  76661
home_value                      81973
rent_median                     78526
education_college_or_above      76892
labor_force_participation       76642
unemployment_rate               76804
race_white                      76884
race_black                      76884
race_asian                      76884
race_native                     76884
race_pacific                    76884
race_other                      76884
race_multiple                   76884
dtype: int64

In [7]:
# looking at null value
cities[cities.isna().any(axis=1)]

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107543,Usta,Usta,NaN,SD,South Dakota,46105,Perkins,46105,Perkins,45.2203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107544,Walker,Walker,NaN,SD,South Dakota,46031,Corson,46031,Corson,45.9103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107545,Weta,Weta,NaN,SD,South Dakota,46071,Jackson,46071,Jackson,43.7744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107546,Buffalo,Buffalo,NaN,SD,South Dakota,46063,Harding,46063,Harding,45.5864,...,35.3,74.1,1.0,99.4,0.0,0.6,0.0,0.0,0.0,0.0
107547,Igloo,Igloo,NaN,SD,South Dakota,46047,Fall River,46047,Fall River,43.2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN