In [2]:
from pyforest import *

In [4]:
# import dataset that has cities and counties from US
cities = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/usCities/simplemapsPro/uscities.csv', encoding = "ISO-8859-1")
cities.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6

In [5]:
# sort by state name
citiesByState = cities.sort_values(by=['state_name'])
citiesByState.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
56103,Toxey,Toxey,NaN,AL,Alabama,1023,Choctaw,01023,Choctaw,31.9107,...,26.8,54.5,9.6,54.6,31.0,0.0,0.0,0.0,0.0,14.4
55903,Wilmer,Wilmer,NaN,AL,Alabama,1097,Mobile,01097,Mobile,30.8232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55904,Moshat,Moshat,NaN,AL,Alabama,1019,Cherokee,01019,Cherokee,34.1187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55905,Skinnerton,Skinnerton,NaN,AL,Alabama,1035,Conecuh,01035|01099,Conecuh|Monroe,31.6699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55906,Edgewater,Edgewater,NaN,AL,Alabama,1073,Jefferson,01073,Jefferson,33.5286,...,10.7,52.8,9.7,40.1,59.9,0.0,0.0,0.0,0.0,0.0

In [6]:
# inspect dataset for missing values
cities.isnull().sum()

city                                0
city_ascii                          0
city_alt                       107316
state_id                            0
state_name                          0
county_fips                         0
county_name                         0
county_fips_all                     0
county_name_all                     0
lat                                 0
lng                                 0
population                      76405
population_proper               76405
density                             0
source                              0
military                            0
incorporated                        0
timezone                            0
ranking                             0
zips                                8
id                                  0
age_median                      76859
male                            76884
female                          76884
married                         76884
family_size                     76828
income_household_median         78407
income_household_six_figure     76661
home_ownership                  76661
home_value                      81973
rent_median                     78526
education_college_or_above      76892
labor_force_participation       76642
unemployment_rate               76804
race_white                      76884
race_black                      76884
race_asian                      76884
race_native                     76884
race_pacific                    76884
race_other                      76884
race_multiple                   76884
dtype: int64

In [7]:
# looking at null value
cities[cities.isna().any(axis=1)]

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107543,Usta,Usta,NaN,SD,South Dakota,46105,Perkins,46105,Perkins,45.2203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107544,Walker,Walker,NaN,SD,South Dakota,46031,Corson,46031,Corson,45.9103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107545,Weta,Weta,NaN,SD,South Dakota,46071,Jackson,46071,Jackson,43.7744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107546,Buffalo,Buffalo,NaN,SD,South Dakota,46063,Harding,46063,Harding,45.5864,...,35.3,74.1,1.0,99.4,0.0,0.6,0.0,0.0,0.0,0.0
107547,Igloo,Igloo,NaN,SD,South Dakota,46047,Fall River,46047,Fall River,43.2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# import merged dataset from zipMerge
df = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/merged/CDRCombined.csv', 
                     encoding = "ISO-8859-1")
df.head()

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple,stateabv2
0,1002,AL,Alabama,Madison,Normal,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,35762,1357,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003,AL,Alabama,Montgomery,Montgomery,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,36109,3398,8,...,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9,NaN
2,1004,AL,Alabama,Shelby,Montevallo,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,35115,6000,8,...,57.9,10.8,71.4,23.0,0.5,0.0,0.2,3.4,1.5,NaN
3,1005,AL,Alabama,Montgomery,Montgomery,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,36104,5714,8,...,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9,NaN
4,1007,AL,Alabama,Tallapoosa,Alexander City,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,35010,0,5,...,51.0,11.6,59.3,35.8,1.0,0.3,0.0,2.8,0.8,NaN

In [56]:
# we don't need the state abvr 2 column, so we can drop that
df = df.drop(columns = 'stateabv2')

In [57]:
# how many rows have null values?
df.isnull().any(axis=1).value_counts()

False    4097
True      363
dtype: int64

In [58]:
#remove puerto rico and virgin islands schools
df = df[df.state != 'Puerto Rico']
df = df[df.state != 'Virgin Islands']

In [66]:
# check states to make sure all domestic, leaving DC
df.state.value_counts().sort_index()

Alabama                  54
Alaska                    8
Arizona                  62
Arkansas                 62
California              457
Colorado                 76
Connecticut              52
Delaware                 14
District of Columbia     18
Florida                 190
Georgia                 106
Hawaii                   18
Idaho                    29
Illinois                203
Indiana                  80
Iowa                     76
Kansas                   64
Kentucky                 65
Louisiana                70
Maine                    35
Maryland                 64
Massachusetts           131
Michigan                116
Minnesota                85
Mississippi              36
Missouri                132
Montana                  22
Nebraska                 36
Nevada                   23
New Hampshire            32
New Jersey               98
New Mexico               25
New York                331
North Carolina          125
North Dakota             20
Ohio                    201
Oklahoma                 62
Oregon                   65
Pennsylvania            254
Rhode Island             16
South Carolina           68
South Dakota             22
Tennessee                92
Texas                   259
Utah                     41
Vermont                  22
Virginia                100
Washington               79
West Virginia            45
Wisconsin                74
Wyoming                  10
Name: state, dtype: int64

In [67]:
# looking for 51 states due to leaving DC
df.state.nunique()

51

In [70]:
# check again to see how many nulls we eliminated by removing non-us schools
df.stateabv.isnull().value_counts()

False    4235
True      190
Name: stateabv, dtype: int64

In [71]:
# create df with just states and abvs
statesAndAbv = df[['state', 'stateabv']].copy()
statesAndAbv

           state stateabv
0        Alabama       AL
1        Alabama       AL
2        Alabama       AL
3        Alabama       AL
4        Alabama       AL
...          ...      ...
4455       Texas       TX
4456  California       CA
4457    New York       NY
4458       Texas       TX
4459  California       CA

[4425 rows x 2 columns]

In [84]:
# copied a dictionary from the internet that has a mapping of all states and their abbreviations so we can fix the missing stateabvs
statesDict = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

# create reveresed dictionary for our purpose
statesDictReversed = {v: k for k, v in statesDict.items()}

In [85]:
# map state abv based on dict
statesAndAbv['stateabv'] = [statesDictReversed[x] if x in statesDictReversed else None for x in statesAndAbv.stateabv]

In [86]:
statesAndAbv.stateabv.isnull().value_counts()

True    4425
Name: stateabv, dtype: int64

In [87]:
statesAndAbv

           state stateabv
0        Alabama     None
1        Alabama     None
2        Alabama     None
3        Alabama     None
4        Alabama     None
...          ...      ...
4455       Texas     None
4456  California     None
4457    New York     None
4458       Texas     None
4459  California     None

[4425 rows x 2 columns]