In [2]:
from pyforest import *

In [4]:
# import dataset that has cities and counties from US
cities = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/usCities/simplemapsPro/uscities.csv', encoding = "ISO-8859-1")
cities.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6

In [5]:
# sort by state name
citiesByState = cities.sort_values(by=['state_name'])
citiesByState.head()

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
56103,Toxey,Toxey,NaN,AL,Alabama,1023,Choctaw,01023,Choctaw,31.9107,...,26.8,54.5,9.6,54.6,31.0,0.0,0.0,0.0,0.0,14.4
55903,Wilmer,Wilmer,NaN,AL,Alabama,1097,Mobile,01097,Mobile,30.8232,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55904,Moshat,Moshat,NaN,AL,Alabama,1019,Cherokee,01019,Cherokee,34.1187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55905,Skinnerton,Skinnerton,NaN,AL,Alabama,1035,Conecuh,01035|01099,Conecuh|Monroe,31.6699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55906,Edgewater,Edgewater,NaN,AL,Alabama,1073,Jefferson,01073,Jefferson,33.5286,...,10.7,52.8,9.7,40.1,59.9,0.0,0.0,0.0,0.0,0.0

In [6]:
# inspect dataset for missing values
cities.isnull().sum()

city                                0
city_ascii                          0
city_alt                       107316
state_id                            0
state_name                          0
county_fips                         0
county_name                         0
county_fips_all                     0
county_name_all                     0
lat                                 0
lng                                 0
population                      76405
population_proper               76405
density                             0
source                              0
military                            0
incorporated                        0
timezone                            0
ranking                             0
zips                                8
id                                  0
age_median                      76859
male                            76884
female                          76884
married                         76884
family_size                     76828
income_household_median         78407
income_household_six_figure     76661
home_ownership                  76661
home_value                      81973
rent_median                     78526
education_college_or_above      76892
labor_force_participation       76642
unemployment_rate               76804
race_white                      76884
race_black                      76884
race_asian                      76884
race_native                     76884
race_pacific                    76884
race_other                      76884
race_multiple                   76884
dtype: int64

In [7]:
# looking at null value
cities[cities.isna().any(axis=1)]

,city,city_ascii,city_alt,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,...,education_college_or_above,labor_force_participation,unemployment_rate,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple
0,Rodena Beach,Rodena Beach,NaN,WA,Washington,53029,Island,53029,Island,48.2190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,South Creek,South Creek,NaN,WA,Washington,53053,Pierce,53053,Pierce,46.9994,...,14.3,66.0,3.5,93.0,1.2,0.0,1.9,0.0,0.0,3.8
2,Toroda,Toroda,NaN,WA,Washington,53019,Ferry,53019,Ferry,48.9429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Lake Garden Tract,American Lake Garden Tract,NaN,WA,Washington,53053,Pierce,53053,Pierce,47.1223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Roslyn,Roslyn,NaN,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,...,23.7,57.4,1.6,98.8,0.0,0.0,0.6,0.0,0.0,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107543,Usta,Usta,NaN,SD,South Dakota,46105,Perkins,46105,Perkins,45.2203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107544,Walker,Walker,NaN,SD,South Dakota,46031,Corson,46031,Corson,45.9103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107545,Weta,Weta,NaN,SD,South Dakota,46071,Jackson,46071,Jackson,43.7744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107546,Buffalo,Buffalo,NaN,SD,South Dakota,46063,Harding,46063,Harding,45.5864,...,35.3,74.1,1.0,99.4,0.0,0.6,0.0,0.0,0.0,0.0
107547,Igloo,Igloo,NaN,SD,South Dakota,46047,Fall River,46047,Fall River,43.2025,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# import merged dataset from zipMerge
df = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/merged/CDRCombined.csv', 
                     encoding = "ISO-8859-1")
df.head()

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple,stateabv2
0,1002,AL,Alabama,Madison,Normal,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,35762,1357,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003,AL,Alabama,Montgomery,Montgomery,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,36109,3398,8,...,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9,NaN
2,1004,AL,Alabama,Shelby,Montevallo,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,35115,6000,8,...,57.9,10.8,71.4,23.0,0.5,0.0,0.2,3.4,1.5,NaN
3,1005,AL,Alabama,Montgomery,Montgomery,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,36104,5714,8,...,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9,NaN
4,1007,AL,Alabama,Tallapoosa,Alexander City,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,35010,0,5,...,51.0,11.6,59.3,35.8,1.0,0.3,0.0,2.8,0.8,NaN

In [56]:
# we don't need the state abvr 2 column, so we can drop that
df = df.drop(columns = 'stateabv2')

In [57]:
# how many rows have null values?
df.isnull().any(axis=1).value_counts()

False    4097
True      363
dtype: int64

In [58]:
#remove puerto rico and virgin islands schools
df = df[df.state != 'Puerto Rico']
df = df[df.state != 'Virgin Islands']

In [66]:
# check states to make sure all domestic, leaving DC
df.state.value_counts().sort_index()

Alabama                  54
Alaska                    8
Arizona                  62
Arkansas                 62
California              457
Colorado                 76
Connecticut              52
Delaware                 14
District of Columbia     18
Florida                 190
Georgia                 106
Hawaii                   18
Idaho                    29
Illinois                203
Indiana                  80
Iowa                     76
Kansas                   64
Kentucky                 65
Louisiana                70
Maine                    35
Maryland                 64
Massachusetts           131
Michigan                116
Minnesota                85
Mississippi              36
Missouri                132
Montana                  22
Nebraska                 36
Nevada                   23
New Hampshire            32
New Jersey               98
New Mexico               25
New York                331
North Carolina          125
North Dakota             20
Ohio                    201
Oklahoma                 62
Oregon                   65
Pennsylvania            254
Rhode Island             16
South Carolina           68
South Dakota             22
Tennessee                92
Texas                   259
Utah                     41
Vermont                  22
Virginia                100
Washington               79
West Virginia            45
Wisconsin                74
Wyoming                  10
Name: state, dtype: int64

In [67]:
# looking for 51 states due to leaving DC
df.state.nunique()

51

In [70]:
# check again to see how many nulls we eliminated by removing non-us schools
df.stateabv.isnull().value_counts()

False    4235
True      190
Name: stateabv, dtype: int64

In [89]:
# create df with just states and abvs
statesAndAbv = df[['state', 'stateabv']].copy()
statesAndAbv

           state stateabv
0        Alabama       AL
1        Alabama       AL
2        Alabama       AL
3        Alabama       AL
4        Alabama       AL
...          ...      ...
4455       Texas       TX
4456  California       CA
4457    New York       NY
4458       Texas       TX
4459  California       CA

[4425 rows x 2 columns]

In [108]:
# copied a dictionary from the internet that has a mapping of all states and their abbreviations so we can fix the missing stateabvs
statesDict = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

# create reversed dictionary if needed
statesDictReversed = {v: k for k, v in statesDict.items()}

In [109]:
# map state abv based on dict
statesAndAbv['stateabv'] = [statesDictReversed[x] 
                            if x in statesDictReversed 
                                else None for x in statesAndAbv.state]

In [111]:
statesAndAbv

           state stateabv
0        Alabama       AL
1        Alabama       AL
2        Alabama       AL
3        Alabama       AL
4        Alabama       AL
...          ...      ...
4455       Texas       TX
4456  California       CA
4457    New York       NY
4458       Texas       TX
4459  California       CA

[4425 rows x 2 columns]

In [110]:
statesAndAbv.stateabv.isnull().value_counts()

False    4425
Name: stateabv, dtype: int64

In [114]:
# add state abvs to main df
df.stateabv = statesAndAbv.stateabv

In [115]:
# how many rows have null values now?
df.isnull().any(axis=1).value_counts()

False    4259
True      166
dtype: int64

In [123]:
# select rows with null values
nullRows = df[df.isnull().any(axis = 1)]
nullRows

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,educationcollegeorabove,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple
0,1002,AL,Alabama,Madison,Normal,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,35762,1357,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1013,AL,Alabama,Limestone,Tanner,CALHOUN COMMUNITY COLLEGE ...,6250 HIGHWAY 31 NORTH ...,35671,0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1153,CA,California,Los Angeles,Northridge,"CALIFORNIA STATE UNIVERSITY, NORTHRIDGE ...",18111 NORDHOFF ...,91330,8307,8,...,48.1,45.1,26.6,44.1,14.3,19.0,0.1,0.6,14.1,7.8
151,1226,CA,California,Los Angeles,Woodland Hills,LOS ANGELES PIERCE COLLEGE ...,6201 WINNETKA AVENUE ...,91371,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,1317,CA,California,San Diego,La Jolla,"UNIVERSITY OF CALIFORNIA, SAN DIEGO ...",9500 GILMAN DRIVE SUITE #0013...,92093,13,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4449,42439,TX,Texas,Smith,Tyler,UNIVERSITY OF TEXAS HEALTH SCIENCE CENTER AT T...,11937 US HIGHWAY 271 ...,75708,3154,8,...,27.6,61.3,6.6,67.8,24.8,2.4,0.3,0.2,2.6,1.9
4456,42788,CA,California,Los Angeles,San Dimas,LOS ANGELES PACIFIC UNIVERSITY ...,300 NORTH LONE HILL AVENUE SUITE 200 ...,91773,1741,8,...,37.2,60.6,5.1,67.3,2.7,16.2,0.9,0.1,8.2,4.7
4457,42797,NY,New York,Bronx,Bronx,ALBERT EINSTEIN COLLEGE OF MEDICINE ...,1300 MORRIS PARK AVENUE ...,10461,1900,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4458,42808,TX,Texas,El Paso,El Paso,TEXAS TECH UNIVERSITY HEALTH SCIENCES CENTER E...,5001 EL PASO DRIVE ...,79905,2827,8,...,24.1,61.6,6.9,82.0,3.8,1.3,0.6,0.1,9.8,2.4
4459,42817,CA,California,Los Angeles,Compton,COMPTON COLLEGE ...,1111 EAST ARTESIA BOULEVARD ...,90221,5393,5,...,8.2,60.4,11.9,39.5,30.9,1.0,0.4,0.2,26.4,1.6

In [129]:
# Which cols have null values in df
df.columns[df.isnull().any()]

Index(['num2', 'denom2', 'drate2', 'prate2', 'num3', 'denom3', 'drate3',
       'prate3', 'population', 'density', 'agemedian', 'male', 'female',
       'married', 'familysize', 'incomehouseholdmedian',
       'incomehouseholdsixfigure', 'homeownership', 'homevalue', 'rentmedian',
       'educationcollegeorabove', 'laborforceparticipation',
       'unemploymentrate', 'racewhite', 'raceblack', 'raceasian', 'racenative',
       'racepacific', 'raceother', 'racemultiple'],
      dtype='object')

In [163]:
# select values in San Diego, California
selectedCity = df.loc[(df['city'] == 'San Diego') & (df['state'] == 'California')]
selectedCity.head()

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,educationcollegeorabove,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple
98,1151,CA,California,San Diego,San Diego,SAN DIEGO STATE UNIVERSITY ...,5500 CAMPANILE DRIVE ...,92182,1690,8,...,44.4,67.6,7.0,64.7,6.4,16.8,0.4,0.4,6.2,5.1
176,1262,CA,California,San Diego,San Diego,POINT LOMA NAZARENE UNIVERSITY ...,3900 LOMALAND DRIVE ...,92106,2899,8,...,44.4,67.6,7.0,64.7,6.4,16.8,0.4,0.4,6.2,5.1
182,1273,CA,California,San Diego,San Diego,SAN DIEGO CITY COLLEGE ...,1313 PARK BOULEVARD ...,92101,4787,5,...,44.4,67.6,7.0,64.7,6.4,16.8,0.4,0.4,6.2,5.1
183,1275,CA,California,San Diego,San Diego,SAN DIEGO MESA COLLEGE ...,7250 MESA COLLEGE DRIVE ...,92111,4996,6,...,44.4,67.6,7.0,64.7,6.4,16.8,0.4,0.4,6.2,5.1
565,1881,CA,California,San Diego,San Diego,ASHFORD UNIVERSITY ...,8620 SPECTRUM CENTER BOULEVARD ...,92123,1406,8,...,44.4,67.6,7.0,64.7,6.4,16.8,0.4,0.4,6.2,5.1

In [180]:
# export df with missing dataa
df.to_csv('/Users/dillorr/defaultRate/dillon/defaultRate/data/withNulls.csv', index=False)

In [181]:
# export df without missing data

withoutNulls = df.dropna()
# withoutNulls.to_csv('/Users/dillorr/defaultRate/dillon/defaultRate/data/withoutNulls.csv', index=False)
withoutNulls

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,educationcollegeorabove,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple
1,1003,AL,Alabama,Montgomery,Montgomery,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,36109,3398,8,...,31.8,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9
2,1004,AL,Alabama,Shelby,Montevallo,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,35115,6000,8,...,26.6,57.9,10.8,71.4,23.0,0.5,0.0,0.2,3.4,1.5
3,1005,AL,Alabama,Montgomery,Montgomery,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,36104,5714,8,...,31.8,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9
4,1007,AL,Alabama,Tallapoosa,Alexander City,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,35010,0,5,...,15.5,51.0,11.6,59.3,35.8,1.0,0.3,0.0,2.8,0.8
5,1008,AL,Alabama,Limestone,Athens,ATHENS STATE UNIVERSITY ...,300 NORTH BEATY STREET ...,35611,1999,8,...,27.0,58.6,8.8,76.4,16.4,1.6,1.3,0.3,1.7,2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4450,42460,RI,Rhode Island,Providence,Cranston,MICHAEL K. GALVIN BEAUTY & BUSINESS ACADEMY ...,379 ATWOOD AVENUE ...,2920,4358,3,...,31.4,62.9,6.7,81.1,5.6,5.8,0.3,0.0,3.6,3.5
4451,42485,TX,Texas,Bexar,San Antonio,TEXAS A&M UNIVERSITY-SAN ANTONIO ...,ONE UNIVERSITY WAY ...,78224,3134,8,...,25.7,64.1,6.4,80.1,7.0,2.7,0.7,0.1,6.7,2.7
4452,42527,HI,Hawaii,Honolulu,Honolulu,PACIFIC RIM CHRISTIAN UNIVERSITY ...,2223 HOONEE PLACE ...,96819,2228,6,...,36.4,64.1,3.9,17.7,1.7,54.1,0.1,8.1,0.9,17.4
4454,42544,AR,Arkansas,Baxter,Mountain Home,ARKANSAS STATE UNIVERSITY - MOUNTAIN HOME ...,1600 SOUTH COLLEGE STREET ...,72653,5326,5,...,19.1,52.9,3.9,97.0,0.1,0.1,0.5,0.0,1.9,0.4
4455,42636,TX,Texas,Bexar,Universal City,NORTHEAST LAKEVIEW COLLEGE ...,1201 KITTY HAWK ROAD ...,78148,3789,5,...,26.6,64.9,5.3,73.2,11.4,2.2,0.0,0.8,8.9,3.5

In [177]:
df

,opeid,stateabv,state,county,city,name,address,zipcode,zipext,proglength,...,educationcollegeorabove,laborforceparticipation,unemploymentrate,racewhite,raceblack,raceasian,racenative,racepacific,raceother,racemultiple
0,1002,AL,Alabama,Madison,Normal,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,35762,1357,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003,AL,Alabama,Montgomery,Montgomery,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,36109,3398,8,...,31.8,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9
2,1004,AL,Alabama,Shelby,Montevallo,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,35115,6000,8,...,26.6,57.9,10.8,71.4,23.0,0.5,0.0,0.2,3.4,1.5
3,1005,AL,Alabama,Montgomery,Montgomery,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,36104,5714,8,...,31.8,61.8,7.9,34.1,60.0,2.5,0.2,0.0,1.3,1.9
4,1007,AL,Alabama,Tallapoosa,Alexander City,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,35010,0,5,...,15.5,51.0,11.6,59.3,35.8,1.0,0.3,0.0,2.8,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4455,42636,TX,Texas,Bexar,Universal City,NORTHEAST LAKEVIEW COLLEGE ...,1201 KITTY HAWK ROAD ...,78148,3789,5,...,26.6,64.9,5.3,73.2,11.4,2.2,0.0,0.8,8.9,3.5
4456,42788,CA,California,Los Angeles,San Dimas,LOS ANGELES PACIFIC UNIVERSITY ...,300 NORTH LONE HILL AVENUE SUITE 200 ...,91773,1741,8,...,37.2,60.6,5.1,67.3,2.7,16.2,0.9,0.1,8.2,4.7
4457,42797,NY,New York,Bronx,Bronx,ALBERT EINSTEIN COLLEGE OF MEDICINE ...,1300 MORRIS PARK AVENUE ...,10461,1900,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4458,42808,TX,Texas,El Paso,El Paso,TEXAS TECH UNIVERSITY HEALTH SCIENCES CENTER E...,5001 EL PASO DRIVE ...,79905,2827,8,...,24.1,61.6,6.9,82.0,3.8,1.3,0.6,0.1,9.8,2.4
4459,42817,CA,California,Los Angeles,Compton,COMPTON COLLEGE ...,1111 EAST ARTESIA BOULEVARD ...,90221,5393,5,...,8.2,60.4,11.9,39.5,30.9,1.0,0.4,0.2,26.4,1.6