In [4]:
from pyforest import *

In [29]:
# import dataset that has cities and counties from US
cities = pd.read_csv(r'/Users/dillorr/defaultRate/dillon/defaultRate/data/usCities/usCities.csv', encoding = "ISO-8859-1")
cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125.0,polygon,False,True,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84.0,polygon,False,True,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163.0,polygon,False,True,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622.0,polygon,False,True,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131.0,polygon,False,True,America/Los_Angeles,3,98223 98258 98270,1840041959

In [20]:
# sort by state name
citiesByState = cities.sort_values(by=['state_name'])
citiesByState.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
14444,Moody,Moody,AL,Alabama,1115,St. Clair,1115,St. Clair,33.5986,-86.4963,12956,203.0,polygon,False,True,America/Chicago,3,35094 35173 35004 35120,1840014770
14816,Lakeview,Lakeview,AL,Alabama,1049,DeKalb,1049,DeKalb,34.3917,-85.9757,144,88.0,polygon,False,True,America/Chicago,3,35971,1840016551
14817,Chickasaw,Chickasaw,AL,Alabama,1097,Mobile,1097,Mobile,30.7715,-88.0793,5794,531.0,polygon,False,True,America/Chicago,3,36611 36671,1840014986
14818,Morris,Morris,AL,Alabama,1073,Jefferson,1073,Jefferson,33.7467,-86.8036,1970,247.0,polygon,False,True,America/Chicago,3,35071 35116,1840016801
14819,Bon Air,Bon Air,AL,Alabama,1121,Talladega,1121,Talladega,33.2621,-86.3319,113,32.0,polygon,False,True,America/Chicago,3,35150 35044 35032,1840015699

In [22]:
# inspect dataset for missing values
cities.isnull().sum()

city               0
city_ascii         0
state_id           0
state_name         0
county_fips        0
county_name        0
county_fips_all    0
county_name_all    0
lat                0
lng                0
population         0
density            0
source             0
military           0
incorporated       0
timezone           0
ranking            0
zips               1
id                 0
dtype: int64

In [27]:
# looking at null value
cities[cities.isna().any(axis=1)]

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
6641,Attu Station,Attu Station,AK,Alaska,2016,Aleutians West,2016,Aleutians West,52.8955,173.123,16,0.0,polygon,False,True,America/Adak,3,NaN,1840037663